extends layout

block contents
	#container.bg-danger
		#wrapper.container-fluid
			.row
				.col-xs-12.col-sm-6.col-sm-offset-3.bg-info
					br
					h1.text-center Login Page
					br
			.row
				.col-xs-12.col-sm-6.col-sm-offset-3.bg-success
					br
					br
					.row
						.col-sm-6.col-sm-offset-3
							form(action="/", method="post", role="form")
								.form-group
									label(for="email") Username:
									input#email.form-control(type="text", hint="username", name="id", required)
								.form-group
									label(for="pwd") Password:
									input#pwd.form-control(type="password", hint="password", name="pass", required)
								.text-center
									button.btn.btn-primary(type="submit") Submit
								.form-group
									label #{wrong}
							br
							br


block scripts
	script(src="/vendor/bootstrap.js", type="text/js")
	script(src="/vendor/jquery.js", type="text/js")