doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/css/bootstrap.css', type='text/css')
		link(rel="stylesheet", href="/css/style.css", type="text/css")
	body
		block contents
		block scripts